<p>blog works!</p>

<select (change)="onChange($event)">
    <option value="todos">Todos</option>
    <option [value]="categoria" *ngFor="let categoria of categorias">
        {{ categoria | titlecase }}
    </option>
</select>

<div class="posts">
    <div class="post" *ngFor="let post of arrayPosts">
        <h3>{{ post.titulo }}</h3>
        <h4>{{ post.autor }}</h4>
        <img src="https://thispersondoesnotexist.com/image">
        <p>{{ post.texto }}</p>
        <p>{{ post.fecha | date:'shortDate' }}</p>
        <p>{{ post.categoria }}</p>
        <img [src]="'./assets/images/'+ post.categoria.toLowerCase() +'.png'">
        <!-- <img src="assets/images/corazon.png">
        <img src="assets/images/cometa.png">
        <img src="assets/images/meditacion.png"> -->
    </div>
</div>