<form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label>Título</label>
        <input type="text" class="form-control" formControlName="titulo">
    </div>
    <div class="form-group">
        <label>Texto</label>
        <textarea class="form-control" formControlName="texto"></textarea>
    </div>
    <div class="form-group">
        <label>Autor</label>
        <input type="text" class="form-control" formControlName="autor">
    </div>
    <div class="form-group">
        <label>Imagen</label>
        <input type="url" class="form-control" formControlName="imagen">
    </div>
    <div class="form-group">
        <label>Fecha</label>
        <input type="date" class="form-control" formControlName="fecha">
    </div>
    <div class="form-group">
        <label>Categoria</label>
        <select type="text" class="form-control" formControlName="categoria">
            <option selected>Escoge una categoría</option>
            <option value="Deportes">Deportes</option>
            <option value="Ocio">Ocio</option>
            <option value="Ensayo">Ensayo</option>
        </select>
    </div>
    <input type="submit" value="Enviar" class="btn btn-sm btn-info">
</form>

<router-outlet></router-outlet>